<template>
  <div class="pagination">
    <button
      class="pagination-btn prev-btn"
      @click.prevent="prevPage()"
    >
      <Arrow class="pagination-btn__icon prev-btn__icon" />
    </button>
    <div
      v-if="firstPageVisible"
      class="pagination__page-item"
      @click.prevent="selectPage(1)"
    >
      1
    </div>
    <popper
      v-if="fromFirstBetweenPages.length"
      trigger="clickToOpen"
      :options="{
        placement: 'top',
        modifiers: { offset: { offset: '0,10px' } }
      }">
      <div class="popper">
        <ul class="pagination__pages-list popper__between-pages">
          <li
            v-for="page in fromFirstBetweenPages"
            :key="page"
            :class="{
              'pagination__page-item': true,
              'popper__page-item': true,
              'active': currentPage === page
            }"
            @click.prevent="selectPage(page, 'between')"
          >
            {{ page }}
          </li>
        </ul>
      </div>
      <button
        slot="reference"
        class="pagination__pages-between-btn"
      >
        <More class="pages-between-btn__icon" />
      </button>
    </popper>
    <ul class="pagination__pages-list">
      <li
        v-for="page in visiblePages"
        :key="page"
        :class="{
          'pagination__page-item': true,
          'active': currentPage === page
        }"
        @click.prevent="selectPage(page)"
      >
        {{ page }}
      </li>
    </ul>
    <popper
      v-if="fromLastBetweenPages.length"
      trigger="clickToOpen"
      :options="{
        placement: 'top',
        modifiers: { offset: { offset: '0,10px' } }
      }">
      <div class="popper">
        <ul class="pagination__pages-list popper__between-pages">
          <li
            v-for="page in fromLastBetweenPages"
            :key="page"
            :class="{
              'pagination__page-item': true,
              'popper__page-item': true,
              'active': currentPage === page
            }"
            @click.prevent="selectPage(page, 'between')"
          >
            {{ page }}
          </li>
        </ul>
      </div>
      <button
        v-if="fromLastBetweenPages"
        slot="reference"
        class="pagination__pages-between-btn"
      >
        <More class="pages-between-btn__icon" />
      </button>
    </popper>
    <div
      v-if="lastPageVisible"
      class="pagination__page-item"
      @click.prevent="selectPage(pagesAmount)"
    >
      {{ pagesAmount }}
    </div>
    <button
      class="pagination-btn next-btn"
      @click.prevent="nextPage()"
    >
      <Arrow class="pagination-btn__icon next-btn__icon" />
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watch } from '@nuxtjs/composition-api'

import Popper from 'vue-popperjs';
import 'vue-popperjs/dist/vue-popper.css';

import Arrow from '@/assets/icons/arrow.svg?inline'
import More from '@/assets/icons/more.svg?inline'

export default defineComponent({
  components: {
    Popper,
    Arrow,
    More
  },
  props: {
    options: {
      type: Object,
      required: false,
      default () {
        return {
          currentPage: 1,
          recordsAmount: 50,
          recordsPerPage: 1
        }
      }
    }
  },
  setup(props: any, context: any) {
    function usePagination () {
      const pagesAmount =
        ref<number>(Math.ceil(Math.max(props.options.recordsAmount, 1) / Math.max(props.options.recordsPerPage, 1)))

      const visiblePages = ref<number[]>([])

      const currentPage = ref<number>(1)

      const firstPageVisible = ref<boolean>(true)
      const lastPageVisible = ref<boolean>(true)

      const fromFirstBetweenPages = ref<number[]>([])
      const fromLastBetweenPages = ref<number[]>([])

      const setVisiblePages: (a: number, b: number) => void = (firstPage, lastPage) => {
        lastPage = Math.max(lastPage, 1)

        if (firstPage < 1) {
          firstPage = 1
          lastPage = 5
        } else if (firstPage > pagesAmount.value - 4 && pagesAmount.value >= 5) {
          firstPage = pagesAmount.value - 4
          lastPage = pagesAmount.value
        }

        if (lastPage > pagesAmount.value && pagesAmount.value > 0) {
          lastPage = pagesAmount.value
        }

        const newPages: number[] = []
        for (let i = firstPage; i <= lastPage; i++) {
          newPages.push(i)
        }

        if (newPages[0] === 1) {
          firstPageVisible.value = false
        } else {
          firstPageVisible.value = true
        }

        if (newPages[newPages.length - 1] === pagesAmount.value) {
          lastPageVisible.value = false
        } else {
          lastPageVisible.value = true
        }

        visiblePages.value = newPages

        fromFirstBetweenPages.value = setBetweenPages(2, firstPage - 1)
        fromLastBetweenPages.value = setBetweenPages(lastPage + 1, pagesAmount.value - 1)
      }

      const setBetweenPages: (a: number, b: number) => number[] = (firstPage, lastPage) => {
        const newPages: number[] = []
        for (let i = firstPage; i <= lastPage; i++) {
          newPages.push(i)
        }
        return newPages
      }

      const prevPage: () => void = () => {
        if (currentPage.value > 1) {
          if (currentPage.value === visiblePages.value[0]) {
            setVisiblePages(currentPage.value - 5, --currentPage.value)
            return
          }
          currentPage.value--
        }
      }

      const nextPage: () => void = () => {
        if (currentPage.value < pagesAmount.value) {
          if (currentPage.value === visiblePages.value[visiblePages.value.length - 1]) {
            setVisiblePages(++currentPage.value, currentPage.value + 4)
            return
          }
          currentPage.value++
        }
      }

      const selectPage: (a: number, b: string) => void = (page, type) => {
        currentPage.value = page

        if (page === 1) {
          setVisiblePages(1, 5)
        } else if (page === pagesAmount.value) {
          setVisiblePages(pagesAmount.value - 4, pagesAmount.value)
        } else if (type === 'between') {
          setVisiblePages(page - 2, page + 2)
        }
      }

      onMounted(() => {
        if (pagesAmount.value >= 5) {
          setVisiblePages(1, 5)
        } else {
          setVisiblePages(1, pagesAmount.value)
        }
      })

      return {
        pagesAmount,
        visiblePages,
        fromFirstBetweenPages,
        fromLastBetweenPages,
        currentPage,
        firstPageVisible,
        lastPageVisible,
        prevPage,
        nextPage,
        selectPage
      }
    }

    return {
      ...usePagination()
    }
  },
})
</script>

<style lang="scss" scoped>
  $gray-colors: (
    first: #aeadbd,
    second: #ebeef5
  );

  .pagination{
    width: 100%;
    padding: 15px;

    display: flex;
    align-items: center;
  }

  .pagination-btn{
    padding: 10px;
    border-radius: .2rem;
    transition: .1s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      background: $main-color;

      .pagination-btn__icon{
        fill: #fff;
      }
    }

    &.prev-btn{
      margin-right: 10px;
    }

    &.next-btn{
      margin-left: 10px;
    }
  }

  .pagination-btn__icon{
    width: 15px;
    height: 15px;
    fill: map-get($gray-colors, first);
    transition: .1s ease-in-out;

    &.prev-btn__icon{
      transform: rotate(180deg);
    }
  }

  .popper{
    box-shadow: 0 0 15px 3px rgba($color: #000000, $alpha: .1);
    padding: 10px;
    border-radius: .5rem;
    height: 100px;
    width: 140px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track{
      background: map-get($gray-colors, first);
    }
  }

  .pagination__pages-between-btn{
    width: 30px;
    height: 30px;
    border-radius: 5rem;
    margin: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .1s ease-in-out;

    &:hover{
      background: map-get($gray-colors, second);
    }
  }

  .pages-between-btn__icon{
    width: 15px;
    height: auto;
    fill: map-get($gray-colors, first);
  }

  .pagination__page-item{
    position: relative;

    width: 40px;
    height: 40px;
    border-radius: 5rem;
    margin: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .1s ease-in-out;
    cursor: pointer;
    user-select: none;

    font-weight: 700;
    font-size: 16px;
    color: map-get($gray-colors, first);

    &:hover{
      background: map-get($gray-colors, second);
    }

    &.active{
      color: $main-color;
      border-radius: .2rem;

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: solid 2px $main-color;
        border-radius: .2rem;
      }
    }

    &.popper__page-item{
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
      margin: 0;
    }
  }

  .pagination__pages-list{
    display: flex;
    align-items: center;

    &.popper__between-pages{
      flex-wrap: wrap;
    }
  }
</style>
