@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $main-text-color;

  fill: $main-text-color;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}

a{
  text-decoration: none;
  color: $main-text-color;
}
