<template>
  <div class="main-page">
    <h1 class="main-page__title">Pagination</h1>
    <div class="main-page__pagination">
      <Pagination />
    </div>
    <div class="main-page__attribution">
      <span class="attribution__label">Designed by</span>
      <a
        href="https://dribbble.com/churumovsergey"
        class="attribution__link"
        target="_blank"
      >
        Sergey
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import Pagination from '@/components/Pagination.vue'
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  components: {
    Pagination
  },
  setup() {

  },
})
</script>

<style lang="scss" scoped>
  .main-page{
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-page__title{
    font-size: 46px;
    color: #2c3e50;
  }

  .main-page__attribution{
    color: #7f8c8d;
  }

  .attribution__link{
    position: relative;
    color: #2980b9;

    &:hover{
      text-decoration: underline;
    }
  }
</style>
